@font-face {
    font-family: 'Blatant';
    src: url('./Blatant.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Blatant';
    src: url('./Blatant-Bold.woff') format('woff');
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: 'Standerd';
    src: url('./Standerd.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Standerd';
    src: url('./Standerd-Bold.woff2') format('woff2');
    font-style: bold;
    font-weight: 700;
}