@font-face {
    font-family: 'Blatant';
    src: url('../fonts/Blatant.woff') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Blatant';
    src: url('../fonts/Blatant-Bold.woff') format('woff2');
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: 'Standerd';
    src: url('../fonts//Standerd.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Standerd';
    src: url('../fonts//Standerd-Bold.woff2') format('woff2');
    font-style: bold;
    font-weight: 700;
}